body {
  background: rgb(17,17,17);
  color: rgb(240,240,240);
}

#RnR-par {
  display:flex;
  justify-content: center;
}
#RnR {
  margin-top:30px;
  display: flex;
  width: 80%;
}
#ratings {
  width: 27%;
}
#space-between {
  width: 6%;
}
#reviews-sec {
  width: 67%;
}

#tile {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(80,80,80);
  margin-bottom: 10px;
}
#rnd {
  display:flex;
  justify-content:space-between;
}

.sorter {
  margin-bottom:10px;
}
#add-more-container {
  display:inline-flex;
}